* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background_image\ netflix.jpg);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Roboto", sans-serif;

  /* display: flex; */
  /* justify-content: center; */
}

#container {
  max-width: 1240px;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(0, 0, 0, 0.3);
  padding-bottom: 40px;
}

#title {
  font-family: "Bowlby One Sc", cursive;
  text-align: center;
  color: white;
  font-size: 4rem;
  letter-spacing: 0.05em;
}
#flix {
  color: red;
}
#description {
  text-align: center;
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
}

#survey-form {
  background-color: rgb(0, 0, 0, 0.8);
  width: 500px;
  padding: 30px 40px;
  margin: auto;
  /* margin-bottom: 40px; */
}

.box {
  margin-top: 10px;
}

#submit {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}

button {
  color: white;
  background-color: red;
  width: 160px;
  height: 45px;
  border-radius: 50px;
  margin-top: 20px;
}
button:hover {
  cursor: pointer;
  font-weight: 700;
  color: red;
  background-color: wheat;
}

textarea {
  resize: none;
}

#name,
#age,
#email,
#content,
#feedback {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

#checkbox,
#radio {
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  #container {
    width: 95%;
    padding: 2rem;
  }

  #survey-form {
    width: 100%;
    padding: 2rem;
  }
}
